/* Styles */
/* -------------------------------------------------------------------------------- */

/* Elements */
/* -------------------------------------------------------------------------------- */

header,
main,
footer {
  border: 5px solid tomato;
  margin: 10px;
}

p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

section {
  padding: 1em;
}

/* Identifiers */
/* -------------------------------------------------------------------------------- */

#how-to-play,
#board,
#player-actions,
#summary {
  border: 3px black dashed;
  margin: 15px;
  min-height: 150px;
}

#how-to-play {
  background-color: lightblue;
}

#board {
  background-color: lightgreen;
}

#player-actions {
  background-color: lightsalmon;
}

#summary {
  background-color: lightgray;
}

/* Classes */
/* -------------------------------------------------------------------------------- */

.attempt-item {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
